<a href="https://colab.research.google.com/github/ARYANJATHAR/InfosysSpringboardProject/blob/main/Python_Basics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLES

In [1]:
#Definition: A tuple is an immutable, ordered collection of elements that allows duplicate

In [4]:
my_tuple = (1, 2, 3, 3,26,62,102, "Aryan", 2.5)
print(my_tuple)

(1, 2, 3, 3, 26, 62, 102, 'Aryan', 2.5)

In [12]:
#OPERATIONS
#1 Accessing Elements
print(my_tuple[1])
print(my_tuple[6])
print(my_tuple[7])

2
102
Aryan

In [13]:
#2 Slicing
print(my_tuple[1:4])
print(my_tuple[5:])
print(my_tuple[:7])

(2, 3, 3)
(62, 102, 'Aryan', 2.5)
(1, 2, 3, 3, 26, 62, 102)

In [14]:
#3 Length
print(len(my_tuple))

9

In [15]:
#4 Count
print(my_tuple.count(3))
print(my_tuple.count(26))

2
1

In [19]:
#5 Indexing
print(my_tuple.index("Aryan"))
print(my_tuple.index(2.5))

7
8

LISTS

In [20]:
# Definition: A list is a mutable, ordered collection of elements that allows duplicates.

In [21]:
my_list = [1, 23, 3, 332 , 34, 56,34, "KARAN", 3.14]
print(my_list)

[1, 23, 3, 332, 34, 56, 34, 'KARAN', 3.14]

In [24]:
#OPERATION
# 1.Adding Elements:
my_list.append(6)
print(my_list)

[1, 23, 3, 332, 34, 56, 34, 'KARAN', 3.14, 6, 6, 6]

In [25]:
#2.Removing Elements
my_list.remove(3)
print(my_list)

[1, 23, 332, 34, 56, 34, 'KARAN', 3.14, 6, 6, 6]

In [27]:
#3.Accessing Elements
print(my_list[2])
print(my_list[5])

332
34

In [28]:
#4.Slicing
print(my_list[1:4])
print(my_list[2:])
print(my_list[:9])

[23, 332, 34]
[332, 34, 56, 34, 'KARAN', 3.14, 6, 6, 6]
[1, 23, 332, 34, 56, 34, 'KARAN', 3.14, 6]

In [29]:
#5.Length
print(len(my_list))

11

SETS

In [30]:
#Definition: A set is a mutable, unordered collection of unique element

In [35]:
my_set = {1, 2, 3, 3, 4 ,24, 211,103, "Apple", 16.3}
print(my_set)

{1, 2, 3, 4, 103, 'Apple', 16.3, 211, 24}

In [47]:
#OPERATIONS
#1.Adding Elements:
my_set.add(5)
my_set.add(6)
print(my_set)

{1, 3, 4, 5, 6, 103, 'Apple', 16.3, 211, 24}

In [48]:
#2.Removing Elements
my_set.remove(6)
print(my_set)

{1, 3, 4, 5, 103, 'Apple', 16.3, 211, 24}

In [52]:
#3.Union
other_set = {9, 10, 11,3}
print(my_set.union(other_set))

{1, 3, 4, 5, 103, 9, 'Apple', 11, 10, 16.3, 211, 24}

In [53]:
#4.Intersection
print(my_set.intersection(other_set))

{3}

In [54]:
#5.Difference
print(my_set.difference(other_set))

{1, 4, 5, 103, 'Apple', 16.3, 211, 24}

DICTIONARIES

In [55]:
#Definition: A dictionary is a mutable, unordered collection of key-value pairs, where keys must be unique and immutable

In [56]:
my_dict = {"name": "Aryan", "age": 20, "city": "Pune"}
print(my_dict)

{'name': 'Aryan', 'age': 20, 'city': 'Pune'}

In [58]:
#OPERATIONS
#1.Accessing Values
print(my_dict["name"])
print(my_dict["age"])

Aryan
20

In [59]:
#2.Adding Key-Value Pairs
my_dict["country"] = "India"
print(my_dict)

{'name': 'Aryan', 'age': 20, 'city': 'Pune', 'country': 'India'}

In [60]:
#3.Removing Key-Value Pairs
my_dict.pop("age")
print(my_dict)

{'name': 'Aryan', 'city': 'Pune', 'country': 'India'}

In [61]:
#4.Getting Keys
print(my_dict.keys())

dict_keys(['name', 'city', 'country'])

In [62]:
#5.Getting Values:
print(my_dict.values())

dict_values(['Aryan', 'Pune', 'India'])

In [63]:
#6.Length
print(len(my_dict))

3

In [65]:

print("Tuple: Immutable, Ordered, Allows Duplicates")
print("List: Mutable, Ordered, Allows Duplicates")
print("Set: Mutable, Unordered, Unique Elements Only")
print("Dictionary: Mutable, Unordered, Key-Value Pairs")

Tuple: Immutable, Ordered, Allows Duplicates
List: Mutable, Ordered, Allows Duplicates
Set: Mutable, Unordered, Unique Elements Only
Dictionary: Mutable, Unordered, Key-Value Pairs

Difference between Tuples,Lists,Set,Dictionary

In [66]:
# Difference between Tuple, List, Set, and Dictionary in Python

# Tuple:
# Definition: Immutable, ordered collection of items.
# Syntax: (1, 2, 3)
# Mutability: Immutable; contents cannot be modified.
# Duplicates: Allowed.
# Order: Ordered; maintains the sequence of elements.
# Indexing: Supported.
# Use Case: Ideal for fixed data that should not change (e.g., coordinates).
# Example:
my_tuple = (1, 2, 3)
print(my_tuple[1])  # Output: 2

# List:
# Definition: Mutable, ordered collection of items.
# Syntax: [1, 2, 3]
# Mutability: Mutable; allows additions, removals, and changes.
# Duplicates: Allowed.
# Order: Ordered; maintains the sequence of elements.
# Indexing: Supported.
# Use Case: Best for sequences that require frequent modifications.
# Example:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

# Set:
# Definition: Mutable, unordered collection of unique items.
# Syntax: {1, 2, 3}
# Mutability: Mutable; allows adding or removing elements.
# Duplicates: Not allowed; only unique elements are stored.
# Order: Unordered; no sequence maintained.
# Indexing: Not supported.
# Use Case: Suitable for storing unique elements and performing mathematical operations.
# Example:
my_set = {1, 2, 3, 3}
print(my_set)  # Output: {1, 2, 3} (duplicates removed)

# Dictionary:
# Definition: Mutable, unordered collection of key-value pairs.
# Syntax: {"key": "value", "key2": "value2"}
# Mutability: Mutable; allows modifications of keys or values.
# Duplicates: Keys must be unique, but values can be duplicated.
# Order: Ordered (from Python 3.7+); maintains insertion order.
# Indexing: Accessed through keys, not numerical indices.
# Use Case: Useful for mapping data, storing attributes, or configurations.
# Example:
my_dict = {"name": "Alice", "age": 25}
my_dict["city"] = "New York"
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

2
[1, 2, 3, 4]
{1, 2, 3}
{'name': 'Alice', 'age': 25, 'city': 'New York'}